* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 253, 253);
  overflow-x: hidden;
}
nav {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100vw;
  border: 1px solid rgba(128, 128, 128, 0.288);
}
.side-box {
  position: relative;
  left: 120px;
}
.menu-1 {
  position: relative;
  top: 20px;
  left: 50px;
}
.menu-1 .labels {
  width: 400px;
  position: relative;
  left: 1100px;
  bottom: 35px;

  font-family: sans-serif;
  font-size: 20px;
}
.container .box-menu {
  border: 1px solid transparent;
  outline: none;
  border-style: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.199);
  position: relative;
  left: 40px;
  top: 10px;
  height: 180px;
  width: 1450px;
  border-radius: 15px;
  background-color: white;
}
.container .box-menu .btn {
  position: relative;
  border-radius: 15px;
  outline: none;
  border: 1px solid grey;
  background-color: transparent;
  top: 15px;
  left: 20px;
  height: 30px;
  width: 100px;
}
.container .box-menu .flex {
  display: flex;
}
.container .box-menu input {
  height: 50px;
  width: 300px;
  position: relative;
  left: 20px;
  background-color: rgba(236, 233, 233, 0.53);
  border-style: none;
  &:hover {
    background-color: rgba(220, 212, 212, 0.471);
  }
}
.container .box-menu input::placeholder {
  font-family: sans-serif;
  font-size: 18px;
  position: relative;
  left: 20px;
}
.container .box-menu .span {
  border: 1px solid;
  height: 50px;
  width: 200px;
  position: relative;
  left: 25px;
  background-color: rgba(236, 233, 233, 0.53);
  border-style: none;
  &:hover {
    background-color: rgb(220, 212, 212, 0.471);
  }
}
.container .box-menu .fare {
  position: relative;
  top: 20px;
  left: 20px;
  display: flex;
}
.container .box-menu .fare .opts {
  position: relative;
  left: 10px;
  height: 25px;
  width: 70px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid grey;
}
.container .box-menu .box {
  height: 90px;
  border: 1px solid rgba(200, 195, 195, 0.684);
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: relative;
  top: 25px;
  left: 20px;
  width: 160px;
}
.container .box-menu .box img {
  position: relative;
  left: 40px;
  height: 50px;
  top: 10px;
  transition: transform 0.5s linear;
}
.container .box-menu .box img:hover {
  transform: scale(1.1);
}
button[class="span"]:hover {
  cursor: pointer;
}
.container .box-menu-1 {
  position: relative;
  top: 120px;
  height: 300px;
  left: 45px;
}
.container .box-menu-1 img[width="295"] {
  transition: all 0.2s linear;
}
.container .box-menu-1 img[width="295"]:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.199),
    0px 0px 15px rgba(0, 0, 0, 0.199);
}
.container .box-menu-2 {
  position: relative;
  top: 120px;
  height: 250px;
  left: 45px;
}
.container .box-menu-2 img {
  transition: box-shadow 0.2s linear;
}
.container .box-menu-2 img:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.199),
    0px 0px 15px rgba(0, 0, 0, 0.199);
}
.container .box-menu-3 {
  position: relative;
  top: 60px;
  left: 45px;
  height: 250px;
}
.container .box-menu-3 .child-box {
  position: relative;
  top: 30px;
  height: 120px;
  width: 1420px;
  border-radius: 15px;
  border: 1px solid rgba(163, 157, 157, 0.318);
  display: flex;
  justify-content: space-around;
}
.container .box-menu-3 .child-box .childs {
  height: 105px;
  position: relative;

  width: 100px;
  left: 0px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box-menu-3 .child-box .childs .pre {
  position: relative;
  top: 20px;
  color: blue;
}
